html,body{
    border:none;
    height: 100%;
    width: 100%;

}
#wrap{
    width: 100%;
    height: 100%;
    border:none;
    
}
#author_wrap{
    position: absolute;
    right:0;
    top:0;
    margin: auto;
    width: 150px;
    height: 50%;
    font-size: 15px;
    text-align: center;
}

#nav{ 
    width: 100%;
    display: block;
    clear: both;
    height: 55px;
    position: relative;
    border-bottom: 1px #d6d6d6 solid;
}
#gmap{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
}
#map_wrap{
    width: 100%;
    height: calc(100% - 57px);
    position: relative;
    clear: both;
    display: block;
}
/**/
/**/
#nav_wrap{
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    width: 230px;
}
#logo{
    font-weight: bold;
    margin-left:20px;
}