/* CSS Document */
@media only screen and (min-width: 1094px)
html, body {
	margin: 0px; padding: 0px; height: 100% 
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline; color: #0F9F03
}
/*###########################################################
###########################################################*/


