html, body {
	margin: 0px; padding: 0px; height: 100% ;
	
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline; color: #0F9F03
}
@media only screen and (max-width: 700px) {
    body {
        background-color: red;
    }
}
/*###########################################################
###########################################################*/

#widget {
width: 100%; height: 80px; background: #A01010; border-bottom: 4px solid #3235B1; 
}
span {
	color: aliceblue; font-size: 30px; line-height: 60px; margin-left: 5px;
}
#widget_logo{
	height: 90%; width: 22%; margin-left: 10%; float: left;  z-index: 1;
}
#widget_logo2{
	height: 30px; width: 22%; margin-left: 10%; float: left; position: absolute; z-index: 2
}
.logo_shadow {
	width: 5px; height: 65px; background: #A01010; position: absolute; transform: rotate(45deg); margin-left: -19px; opacity: 0.5
}	

#widget_serch{
	height: 90%; width: 27%; float: left; margin-left:  5px; 
}
#tex{
	width: 90%; height: 30px; border: 1px solid #625656; border-radius: 12px; margin-top: 22px; float: left
	
}
#but {
	border: 0px; background: url(spotlight.png) no-repeat; margin-left: -34px; width: 10%; height: 30px; float: left; margin-top: 23.5px;
}
#widget_contac{
	height: 90%; width: 29%; margin-right: 10%; float: left; margin-left: 15px;
}
#datetime {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	margin-top: 6px; width: 50%;  float: left;
}
#fb {
	margin-top: 6px; width: 45%;  float: left;  margin-left: 15px; text-align: center; color: aliceblue;
}
.tieude{
	width: 130px; height: 50px; background: #000000
}

/*###########################################################
###########################################################*/

#menu {
width: 100%; height: 40px; background: #E0282B; border-top: 4px solid #5CE864; margin-bottom: 5px;
}
#menu ul {
	margin: 0px; padding: 0px; list-style: none; line-height: 40px;
}
#menu ul li {
	float: left; width: 7%; text-align: center; position: relative;
}
#menu ul li a {
	color: aliceblue;
}
#li1 {
	margin-left: 10%
}
#menu ul li:hover {
	background: #000000
}
#menu ul li .submenu > li {
	clear: both; width: 200px; background: #0F9F03; height: 30px; border-top: 1px solid #0A14C9; text-align: left; text-indent: 20px;
}
.submenu {
	display: none; position: absolute;
}
#menu ul li .submenu > li:hover
{
	background: #CCC; 
}
#menu ul li:hover >.submenu {
	display: block;
}
#menu ul li .submenu > li:hover a {
	color: #000000;
}
/*###########################################################
###########################################################*/

#conten {
	width: 80%; margin: auto; border: 1px solid #000000; 
}
#left {
	width: 60%; height: 300px; float: left;
}
.title {
	width: 150px; height: 40px; background: #12C8AF; margin: 0px 5px;
	border-bottom: 3px solid #5112EB
}
.title a:hover {
	color: #0F9F03
}
.txt {
	float: left; height: 100%; width: 90%; background: #A01010; color: aliceblue;
}
.titlelef {
	width: 15px; height: 0px;margin: 5px; 
	border-bottom: 40px solid #A01010; 
	border-left: 0px solid transparent; 
	border-right: 40px solid transparent;
	margin-left: 135px;
}
.tenbv {
	width: 99%; height: 50px; margin: 10px 5px; overflow: hidden;
	border-bottom: 3px solid #E5E42B
}
.tenbv a:hover{
	color: #0F9F03 !important
}
.imglef{
	width: 50%; height: 170px; margin-left: 5px; float: left;
}
.txtright{
	width: 97%; height: 110px;  margin-left: 10px; text-overflow: ellipsis; overflow: hidden;
	
}
.xemthem {
	width: 97%; height: 80px; margin: 10px; text-align: right;
}
/*###########################################################
###########################################################*/

#mid {
	width: 39%; height: 300px; float: left; border: 1px solid #CCC
}
#mid ul {
	margin: 0px 0px 0px 10px; padding: 0px; list-style: none; 
}
#mid ul li{
	color: #E0282B; margin: 3px;  height: 95px; border-bottom: 3px solid #E5E42B
}
.anhcu {
	width: 40%; height: 100%;  float: left;
}.bvcu {
	width: 58%; height: 100%;  float: left; margin-left: 5px; text-align: left; text-overflow: ellipsis; overflow: hidden;
}
/*###########################################################
###########################################################*/

#right{
	width: 19%; height: 350px; float: left; border-right: 1px solid #CCC
	
}
.videoright {
	width: 120%; height: 125px; border-bottom: 8px solid #49FF00;  border-top: 8px solid #49FF00;
}

/*###########################################################
###########################################################*/

#footer {
	width: 80%; height: 50px; margin: auto; background: #000; margin-top: 10px; border-top-left-radius: 15px; border-top-right-radius: 15px; 
}
@keyframes doimau {
		0% {color: aliceblue}
		20% {color: #D1FF27}
		40% {color: #00FF15}
		60% {color: #EB6211}
		80% {color: red}
		100% {color: #2200FF}
}
@webkit-keyframes doimau {
		0% {color: aliceblue}
		20% {color: #D1FF27}
		40% {color: #00FF15}
		60% {color: #EB6211}
		80% {color: red}
		100% {color: #2200FF}
	}
#footer h2 {
	animation: doimau 5s infinite;
}

/*##########################################
#############################################*/
#bai_viet {
	width: 80%; border: 1px solid #000000; text-align: justify; text-indent: 10px; margin: 10px auto;
}
#bai_viet h2 {
	margin: 0px; padding: 0px;
}
img.cangiua {display: block; margin-left: auto; margin-right: auto;} 
